<div style="min-height: 390px">
    <div class="modal-header">
        <h2>Add Benificiary</h2>
    </div>
    <div class="modal-body">
        <div>
            <label class="text-capitalize">Account Key</label>
            <input style='margin-left: 5%;' type="text" placeholder="key" ng-model="benificiary" autofocus>
        </div>
        <div class="modal-footer form-group" style="margin-top: 18%;">
            <button class="btn btn-success" ng-click="save(benificiary)">Confirm</button>
            <button class="btn btn-danger" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>