<div style="min-height: 390px">
    <div class="modal-header">
        <h2>Change {{param}}</h2>
    </div>
    <div class="modal-body">
        <div style="font-weight: normal;">
           <div>
            <label class="text-capitalize">{{param}}</label>
            <input style='margin-left: 5%;' type="text" placeholder="{{param}}" ng-model="value" autofocus>
           </div>
        </div>
        <div class="modal-footer form-group" style="margin-top: 18%;">
            <button class="btn btn-success" ng-click="save(value)">Confirm</button>
            <button class="btn btn-danger" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>