<style>
    .optionlist{
    padding: 1px 0px 0px 20px;
    margin-top: 1%;
    background: white;
    border-radius: 5px;
    }
</style>
<div class="container dashboard-container">
    <div class="row">
        <div class="col-md-6">
            <h3>Welcome {{customer.username}}</h3>
            <h4>Account Number : {{customer._id}}</h4>
            <h4>Account Balance : {{customer.balance}}</h4>
        </div>
        <div class="col-md-6">
            <div style="margin-top:5%">
                <div class="col-md-12">
                    <button class="btn btn-danger pull-right" ng-click="logout()">logout</button>
                </div>
                <div class="col-md-12 ">
                    <div class="pull-right">
                        <a role='button' ng-click="changemodal('password')">change PIN</a>
                        <br>
                        <a role='button' ng-click="changemodal('email')">change Email</a>
                        <br>
                        <a role='button' ng-click="changemodal('phone')">change Phone Number</a>
                        <br>
                        <a role='button' ng-click="changemodal(touchid)">change Touch ID</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="optionlist">
        <label>DSMT ></label>
    </div>
    <div class="optionlist">
        <label>Benificiary accounts ></label>
    </div>
    <div class="optionlist">
        <label>Transactions ></label>
    </div>
    <div class="optionlist">
        <label>Instant Transfer ></label>
    </div>

    <!-- <div class="col-md-12 col-xs-12 col-sm-12">
        <h3 style="margin-top: 50px;">Tranasactions</h3>
       <div ng-show="accountdetails.accountid.length>0">
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>     
       </div>
       <div ng-show="accountdetails.accountid.length==0">
           <p class="text-center" style="margin-top: 100px"> No Transactions Found !</p>
       </div>
    </div> -->

</div>