<div class="login-container">
	<div class="container">
		<div class="Absolute-Center is-Responsive">
			<div class="login-heading">DSMT Register</div>
			<div class="inner-container">
				<form id='registerform'>
						<label>Username</label>
						<br>
						<input type="text" name="username" ng-model="reg.username" placeholder="Enter username" autofocus>
						<br>
						<label>Phone-no</label>
						<br>
						<input type="text" name="phone" ng-model="reg.phone" placeholder="Enter number">
						<br>
						<label>Email</label>
						<br>
						<input type="text" name="email" ng-model="reg.email" placeholder="Enter email" autofocus>
						<br>
						<label>Password</label>
						<br>
						<input type="password" name="password" ng-model="reg.password" placeholder="Enter password">
						<br>
						<!-- <label>Confirm Password</label>
						<br>
						<input type="password" name="" ng-model="reg." placeholder="Enter password">
						<br> -->
						<label>Aadhar-no</label>
						<br>
						<input type="password" name="aadharnumber" ng-model="reg.aadharnumber" placeholder="Enter Aadhar-no">
						<br>
						<button class="reg-btn" ng-click="submitform(reg)">Submit</button>
						<br>
				</form>
			</div>
		</div>
	</div>
</div>